.bio {
    display: grid;
    grid-template-columns: .3fr 1fr;
    align-items:center;
    margin-bottom: var(--spacing-16);
    background-color:navajowhite;
    border-radius: .4rem;
    padding: var(--spacing-6);
}
  
.bio p {
    margin-bottom: var(--spacing-0);
}
  
.bio-avatar {
    margin-right: var(--spacing-4);
    margin-bottom: var(--spacing-0);
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
}