.blog-post {
  max-width: var(--maxWidth-mobile-blog-post);
  margin:0 auto;
  display:grid;
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

/* .image-wrap {
  max-height: var(--maxWidth-xs);
  object-fit: cover;
  border-radius: 1rem;
} */

.blog-post-nav ul {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: var(--spacing-0);
}

@media(min-width: 768px) {
	.blog-post {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
    max-width: var(--maxWidth-3xl);
    column-gap:2rem;
  }

  .blog-post-image {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  
  .image-wrap {
    max-height: var(--maxWidth-xl);
    object-fit: contain;
  }

  .blog-post-body {
    grid-row-start: 2;
  }

  .footer {
    grid-column-start: span 2;
  }

}

@media(min-width: 1068px) {
  .blog-post {
    max-width: var(--maxWidth-desktop-blog-post);
  }
}
